html,
body {
  min-height: 100%;
  position: relative;
  background-color: #ffffff;
}

p,
h1,
h2,
a {
  font-size: 2rem !important;
  padding: 0 !important;
  text-transform: uppercase;
  margin: 0 !important;
}

body {
  position: relative;
}

border {
    background-color: #ffffff;
}
* {
  outline: none;
  background-color: #ffffff;
}

.main {
  min-height: 65vh;
}

@media screen and (min-width: 344px) {
    .main {
      min-height: 55vh;
    }
  }


@media screen and (min-width: 390px) {
    .main {
      min-height: 63vh;
    }
  }


@media screen and (min-width: 414px) {
    .main {
      min-height: 60vh;
    }
  }

@media screen and (min-width: 430px) {
  .main {
    min-height: 63vh;
  }
}

@media screen and (min-width: 768px) {
  .main {
    min-height: 73vh;
  }
}

@media screen and (min-width: 1024px) {
    .main {
      min-height: 80vh;
    }
}
.lad-heading {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  align-items: flex-start;
  padding: 0 50px;
  text-transform: uppercase;
  text-align: left;
}

@media screen and (min-width: 768px) {
  .lad-heading {
    padding: 0 180px;
  }
}

@media screen and (min-width: 480px) {
  .lad-heading {
    align-items: flex-start;
    margin-top: 100px;
  }
}

.lad-contact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 3rem 0;
  text-transform: uppercase;
  padding: 0 15px;
}

.lad-education {
  margin-top: 3rem;
  text-transform: uppercase;
  padding: 0 50px;
}

@media screen and (min-width: 768px) {
  .lad-education {
    padding: 0 180px;
  }
}

@media screen and (min-width: 480px) {
  .lad-contact {
    margin-top: 20px;
  }
}

.lad-email {
  font-weight: 400 !important;
}

.lad-footer {
  margin: 0;
  display: flex;
  justify-content: flex-start;
}

.lad-footer .row {
  margin-left: 0;
  margin-right: 0;
}

@media screen and (min-width: 455px) {
  .lad-footer {
    margin: -100px 0px 0px 0px !important;
  }
}

h1,
h2,
h4,
h3,
h5,
a,
button {
  font-family: "Century Gothic", sans-serif;
}
h1 {
  font-size: 55px;
}
h2 {
  font-size: 45px;
}
h3 {
  font-size: 32px;
}
h4 {
  font-size: 21px;
}
h5 {
  font-size: 100%;
}
h6 {
  font-size: 100%;
}

.font-2 {
  font-family: "Century Gothic", sans-serif;
  font-weight: 500;
  font-style: normal;
  margin-top: 0px;
  margin-bottom: 0px;
}

.lad-x {
  display: inline-block;
  transform: rotate(5deg);
  margin: 0 10px 0 10px;
}


a {
  color: black;
  font-size: 14px;
}

@media only screen and (max-width: 480px) {
  .font-1 {
    font-size: 18px;
  }

  input,
  select,
  textarea {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 20px;
    margin-bottom: 15px;
  }
  textarea {
    padding-top: 15px;
  }

  h1 {
    font-size: 38px;
  }
  h2 {
    font-size: 33px;
  }
  h3 {
    font-size: 23px;
  }
  h4 {
    font-size: 20px;
  }
  h5 {
    font-size: 100%;
  }
  h6 {
    font-size: 100%;
  }
}
